.wrapper {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

.navbar {
  box-shadow: 0px 1px 6px #aaa;
}

.content {
  flex-grow: 1;
}

.header,
.footer {
  flex-shrink: 0;
}

.footer {
  box-shadow: 0px -1px 6px #aaa;
}

.vh-60 {
  height: 60vh;
}
